<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            background-color: black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>URL shortner</h1>
    <div>
        <form method="post" action="url">
            <label >Enter your Url to shorten</label>
            <input type="text" name="url" placeholder="http://localhost:8001">
            <button type="submit">Generate</button>
    </form>
    </div>
    <% if (locals.id) { %>
        <p>URL genereated : <b>http://localhost:8001/<%= id %></b> </p>
       <% } %>
</body>
</html>